Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters

create devbox-secondary vnet peering and private endpoints
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  5.spoke-network/main.network.bicep
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
Due: .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/network-deployment.yml

remove undeclared params
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

deploy changes in dev
  6.cross-subscription/main.parameters.bicepparam
Due: .azuredevops/pipelines/6.cross-subscription.yaml

deploy changes in dev
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/devbox-sql-replica-endpoints/devbox-sql-replica-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

deploy changes in dev
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/devbox-sql-replica-endpoints/devbox-sql-replica-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

create private endpoints
  6.cross-subscription/main.bicep
  6.cross-subscription/modules/devbox-sql-replica-endpoints/devbox-sql-replica-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

add params to pipeline
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  6.cross-subscription/main.parameters.bicepparam
Due: .azuredevops/pipelines/6.cross-subscription.yaml

trigger validation
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
Due: none

trigger validation
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

remove commented code
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

add new UX.SponsorManagementWorkspace feature flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Add approvals for prod deployment (#122)
  .azuredevops/pipelines/network-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add App Configuration encryption support
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

RSP-6349: Enabled Managed Identities for Validation Function App - Removed FunctionKey - Added Scopes AppSettings for Function App
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

Enable app config encryption and update Key Vault URI
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Refactor app config encryption key module usage
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Enable encryption for App Configuration in all environments
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Refactor App Configuration encryption key handling
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Add App Configuration encryption support (#127)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add Azure AD auth config for ValidateIRASID function
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Mark Azure AD client secret params as secure in Bicep to fix warnings
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Refactor ValidateIRASID auth params in pipelines and bicep
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Automate function authentication (#128)
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Remove quotes from allowed audiences variable in pipeline
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Quote parValidateIrasIdAllowedAudiences in pipeline scripts
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Remove quotes from allowed audiences variable in pipeline (#129)
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Update app service plan names for function apps
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Update app service plan names in Bicep file
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix length of name (#130)
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Shorten storage account names in Bicep modules
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix storage account name in function app deployment
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix length of names (#131)
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

RSP-6349: Enabled Managed Identities for Validation Function App (#126)
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

Disable SQL authentication for dev environment
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Add Azure AD-only authentication resource
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: none

Add ProjectRecordValidation config to all environments
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
Due: none

Add parEnableSqlAdminLogin to environment parameters
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Remove sql login dev and prod (#132)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Enable Azure AD-only authentication for SQL server
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Update SQL admin credential handling for replica server
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: .azuredevops/pipelines/application-deployment.yml
