Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

create monitoring alerts
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

create logic app workflow
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
Due: none

fix params
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

deploy alert rules to prod
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

deploy alert rules to prod
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

add api connection params
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/production.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

add frontdoor origin health probe alert
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

fix query rule creation
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

enable app insights error alerts
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

enable vnet gateway for peered spoke networks
  7.datawarehouse/modules/vnetpeering.bicep
  shared/bicep/network/peering.bicep
Due: none

Update SQL injection from block on anamoly to log
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: none

update vpn gateway traffic selector to include spoke subnets
  7.datawarehouse/modules/dw-network.bicep
Due: none

update vpn gateway traffic selector to include dev subnets
  7.datawarehouse/modules/dw-network.bicep
Due: none

vnet peering allow vpn gateway traffic to spokes
  7.datawarehouse/modules/vnetpeering.bicep
Due: none

vnet peering allow vpn gateway traffic to spokes
  7.datawarehouse/modules/vnetpeering.bicep
  shared/bicep/network/peering.bicep
Due: none

pass app config settings
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

initial commit
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Update WAF Rule (#115)
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/waf-policy.bicep
Due: none

Add Front Door IP whitelisting parameter to environments
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/shared.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

deploy validateirasid and harpdatasync functions to spokes
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

deploy validateirasid and harpdatasync functions to spokes
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

update prod one login
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

revert Prod One Login
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

enable vnet gateway for peered spoke networks (#114)
  7.datawarehouse/modules/dw-network.bicep
  7.datawarehouse/modules/vnetpeering.bicep
  shared/bicep/network/peering.bicep
Due: none

rename existing pep between dw app and spokes
  6.cross-subscription/modules/dw-function-endpoints/app-subscription-endpoint.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Refactor cross-subscription deployment pipeline and Bicep
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/README.md
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
Due: .azuredevops/pipelines/6.cross-subscription.yaml

add BGO connection string
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

add BGO connection string
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: none

Add parameterized DW function app private endpoint deployment
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/README.md
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/dw-function-endpoints/dw-function-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Remove unused DevBox variables from pipeline and update docs
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/README.md
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Add IP restrictions to Frontdoor (Dev, ST Manual and ST Auto) (#117)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/shared.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Refactor pipeline to use reusable deployment stage template
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  6.cross-subscription/README.md
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Update README
  6.cross-subscription/README.md
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Refactor application deployment pipeline to use stage template
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Add App Configuration update pipeline and Bicep modules
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
  5.spoke-network/modules/app-config-update/deploy.appconfig-keyvalues.bicep
Due: none

Update default app config variable group handling
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Add deployment location parameter to pipeline
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
