Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters

Remove depends on warnings
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: none

Add documentBlobStorageAccountKey, rtsApiClientSecret, rtsApiClientId to key vault secrets.
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Adding CODEOWNERS file for required reviewers
  CODEOWNERS
Due: none

Sync one login key-vault values to App config
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix the value format in app config
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: none

Auto update JWKS and AllowedHosts Values in app config
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/11-app-config-update/deploy.app-config-update.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Rename PortalUrl to AppSettings:PortalUrl
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Rename PortalUrl to AppSettings:PortalUrl (#78)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

feat: create nsg flow logs
  5.spoke-network/main.network.bicep
  5.spoke-network/modules/02-spoke/deploy.spoke.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  shared/bicep/network/flow-logs.bicep
  shared/bicep/storage/storage-with-encryption.bicep
  shared/bicep/storage/storage.bicep
Due: .azuredevops/pipelines/network-deployment.yml

feat: create nsg flow logs
  5.spoke-network/main.network.bicep
Due: .azuredevops/pipelines/network-deployment.yml

update db conn string for HARP data db
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  7.datawarehouse/modules/app-configuration.bicep
Due: none

rename the PEM parameter
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

remove nsg flow log creation
  5.spoke-network/main.network.bicep
  5.spoke-network/modules/02-spoke/deploy.spoke.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  shared/bicep/network/flow-logs.bicep
Due: .azuredevops/pipelines/network-deployment.yml

Auto update JWKS and AllowedHosts Values in app config (#75)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
  5.spoke-network/modules/11-app-config-update/deploy.app-config-update.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix KeyVault secret overwrite
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add Azure Monitor Alert Rules for compliance remediation
  2.monitoring-alerts/README.md
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_auto.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  2.monitoring-alerts/parameters/uat.parameters.bicepparam
  shared/bicep/monitoring/action-group.bicep
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

add deployment pipeline for monitor resources
  .azuredevops/pipelines/2.monitoring-services.yml
Due: none

Add Azure Monitor Alert Rules for compliance remediation
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/README.md
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_auto.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  2.monitoring-alerts/parameters/uat.parameters.bicepparam
  shared/bicep/monitoring/action-group.bicep
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

Fix KeyVault secret overwrite (#80)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add managed identity for Process Document Scan function
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add managed identity for Process Document Scan function (#81)
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: .azuredevops/pipelines/application-deployment.yml

activity log alerts
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  shared/bicep/monitoring/activity-log-alert.bicep
Due: none

add flag to disable sql server password authentication
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: .azuredevops/pipelines/application-deployment.yml

NCSC Compliance Remediation (#79)
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/README.md
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_auto.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  2.monitoring-alerts/parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/main.network.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
  shared/bicep/monitoring/action-group.bicep
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
  shared/bicep/storage/storage-with-encryption.bicep
  shared/bicep/storage/storage.bicep
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

fix monitoring deployment cli
  .azuredevops/pipelines/2.monitoring-services.yml
Due: none

fix monitoring deployment cli
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/modules/alert-rules.bicep
Due: none

feat: Add App Configuration support for HARP function apps
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/app-configuration.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

disable shared access key on storage accounts and sql server password auth
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/09-document-upload/deploy.document-upload.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
Due: .azuredevops/pipelines/application-deployment.yml

disable shared access key on storage accounts and sql server password auth
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Enable deployment slots for IRAS Portal Web App and Upgrade AppServicePlan
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Deploy to PreProd - update parameters
  2.monitoring-alerts/parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

disable shared access key on storage accounts and sql server password auth
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Update cross subscription
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/main.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

add missing param
  .azuredevops/pipelines/6.cross-subscription.yaml
Due: none
