Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Datawarehouse Templates
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

comment out and test
  .azuredevops/pipelines/application-deployment.yml
Due: none

create KV secrets
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

deploy app config via KV
  .azuredevops/pipelines/application-deployment.yml
Due: none

Set to false
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Update Authority
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Processdocuploadconfig (#90)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

RSP-5185: Implement IRASID validation for project records
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

fix syntax error
  .azuredevops/pipelines/application-deployment.yml
Due: none

fix syntax error (#93)
  .azuredevops/pipelines/application-deployment.yml
Due: none

Apply IP restrictions to container registery
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/container-registry.module.bicep
Due: none

Disable caching
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

configure backup params for DBs and Storage accounts and bump function app SKU
  5.spoke-network/modules/05-database/deploy.database.bicep
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/azure-functions.bicep
  shared/bicep/storage/storage.blobsvc.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

configure backup params for DBs and Storage accounts and bump function app SKU
  7.datawarehouse/modules/dw-application.bicep
Due: none

Deploy to production (#91)
  .azuredevops/pipelines/6.cross-subscription.yaml
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
  6.cross-subscription/main.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

bump datawarehouse function app SKU
  7.datawarehouse/modules/dw-application.bicep
  shared/bicep/storage/storage.blobsvc.bicep
Due: none

Fix security recommendations - Improve secure score (#96)
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/container-registry.module.bicep
  5.spoke-network/modules/03-supporting-services/modules/service-bus.module.bicep
  shared/bicep/service-bus.bicep
Due: none

RSP-5087: resource health dashboard (#88)
  5.spoke-network/main.application.bicep
  shared/bicep/portal-dashboard/deploy-resource-dashboard.bicep
  shared/bicep/portal-dashboard/iras-resource-dashboard-dev.json
  shared/bicep/portal-dashboard/iras-resource-dashboard-template.json
Due: .azuredevops/pipelines/application-deployment.yml

parameterize sourceAddressPrefix
  .azuredevops/pipelines/dw-application-deployment.yml
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/dw-application.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

parameterize sourceAddressPrefix
  .azuredevops/pipelines/dw-application-deployment.yml
Due: none

peer spokes to datawarehouse vnet
  .azuredevops/pipelines/dw-network-deployment.yml
  7.datawarehouse/main.network.bicep
  7.datawarehouse/modules/vnetpeering.bicep
  7.datawarehouse/network-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/dw-network-deployment.yml

peer spokes to datawarehouse vnet
  .azuredevops/pipelines/dw-network-deployment.yml
  7.datawarehouse/modules/dw-network.bicep
  7.datawarehouse/network-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/dw-network-deployment.yml

peer spokes to datawarehouse vnet
  7.datawarehouse/modules/dw-network.bicep
Due: none

Update SKU's for Production and Pre-Prod
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Parameterize the container apps configuration.
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/06-container-app/deploy.container-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Enable diagnostic setting and Log analytics.
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/front-door-profile.bicep
Due: .azuredevops/pipelines/application-deployment.yml

rsp-4254: alert integration with hao itsm and teams
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

configure alerts for itsm and teams
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

configure alerts for itsm and teams
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

topic subscription and Managed Identiy based access to function
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/09-document-upload/deploy.document-upload.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
  shared/bicep/event-grid/custom-event-grid-topic.bicep
  shared/bicep/event-grid/custom-topic-role-assignment-subscription.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create app monitoring alerts
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

create app monitoring alerts
  2.monitoring-alerts/main.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

create app monitoring alerts
  2.monitoring-alerts/modules/alert-rules.bicep
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

fix actionGroupIds
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

fix actionGroupIds
  2.monitoring-alerts/modules/alert-rules.bicep
Due: none

create app monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

Add params to other env
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

fix alert rule creation failure
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

fix monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

fix interpolation
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
