Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

topic subscription and Managed Identiy based access to function
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/09-document-upload/deploy.document-upload.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
  shared/bicep/event-grid/custom-event-grid-topic.bicep
  shared/bicep/event-grid/custom-topic-role-assignment-subscription.bicep
  shared/bicep/event-grid/custom-topic-subscription.bicep
Due: .azuredevops/pipelines/application-deployment.yml

configure alerts for itsm and teams
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

create app monitoring alerts
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

fix actionGroupIds
  2.monitoring-alerts/modules/alert-rules.bicep
Due: none

create app monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

fix monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

fix interpolation
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

fix alert rule creation failure
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

create app monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

configure alert throttling
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

create app monitoring alerts
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

add missing parameters
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

create app monitoring alerts
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

Update Pre-Prod and Prod SKU's (#100)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/06-container-app/deploy.container-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

RSP-5361: Backup and Restore (#94)
  .azuredevops/pipelines/dw-application-deployment.yml
  5.spoke-network/modules/05-database/deploy.database.bicep
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/azure-functions.bicep
  7.datawarehouse/modules/dw-application.bicep
  shared/bicep/storage/storage.blobsvc.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

update naming of module
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/web-app.bicep
  shared/bicep/event-grid/custom-topic-role-assignment-subscription.bicep
  shared/bicep/event-grid/custom-topic-subscription.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Create PEP from App subscription to DW Validate IRAS Function
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/main.bicep
  6.cross-subscription/modules/dw-function-endpoints/app-subscription-endpoint.bicep
  6.cross-subscription/modules/dw-function-endpoints/dw-function-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

revert grid subscription destination
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
  shared/bicep/app-services/function-app.bicep
  shared/bicep/app-services/web-app.bicep
  shared/bicep/event-grid/custom-event-grid-topic.bicep
  shared/bicep/event-grid/custom-topic-role-assignment-subscription.bicep
  shared/bicep/event-grid/custom-topic-subscription.bicep
Due: .azuredevops/pipelines/application-deployment.yml

topic subscription and Managed Identity based access to function (#95)
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/09-document-upload/deploy.document-upload.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
  shared/bicep/app-services/function-app.bicep
  shared/bicep/event-grid/custom-event-grid-topic.bicep
  shared/bicep/event-grid/custom-topic-role-assignment-subscription.bicep
  shared/bicep/event-grid/custom-topic-subscription.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix output error
  6.cross-subscription/modules/dw-function-endpoints/app-subscription-endpoint.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

deploy Entra settings
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Private endpoints from App subscriptions to Data Warehouse. (#101)
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/main.bicep
  6.cross-subscription/modules/dw-function-endpoints/app-subscription-endpoint.bicep
  6.cross-subscription/modules/dw-function-endpoints/dw-function-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Deploy slot for Pre-prod
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

deploy Entra settings (#103)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix syntax error
  shared/bicep/app-services/web-app.bicep
Due: none

Prod One Login
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

fix merge error
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

fix syntax to handle null in ternary operation
  shared/bicep/app-services/web-app.bicep
Due: none

create monitoring alerts
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

fix params
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

create logic app workflow
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
Due: none

create alerts for all errors to teams
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

fix query rule creation
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

enable app insights error alerts
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
Due: none

Enable slots in production
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Configure deployment slots for IRAS Portal and Upgrade AppService Plan to Standard (#85)
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  shared/bicep/app-services/web-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

updated Microsoft Entra settings across all subscriptions
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Prod one login (#104)
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

updated Microsoft Entra settings across all subscriptions
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Prod one login (#105)
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
