Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Datawarehouse Templates
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/network-deployment.yml:
  name: network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Network Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

deny network access on storage account
  7.datawarehouse/modules/azure-functions.bicep
Due: none

redeploy harp data sync functions
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

redeploy harp data sync functions
  7.datawarehouse/modules/azure-functions.bicep
Due: none

add missing param
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

skip existing roles assignments
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

redeploy function apps
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

redeploy function apps
  7.datawarehouse/modules/azure-functions.bicep
Due: none

fix: private endpoint dns zone mapping
  7.datawarehouse/modules/azure-functions.bicep
Due: none

added oneLogin param
  .azuredevops/pipelines/application-deployment.yml
Due: none

fix validation
  .azuredevops/pipelines/application-deployment.yml
Due: none

Revert "fix validation"
  .azuredevops/pipelines/application-deployment.yml
Due: none

Revert "added oneLogin param"
  .azuredevops/pipelines/application-deployment.yml
Due: none

RSP-4914: Google Analytics integration
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

revert: test appconfig private networking
  .azuredevops/pipelines/application-deployment.yml
Due: none

test appconfig private networking
  .azuredevops/pipelines/application-deployment.yml
Due: none

Create fileshare for function apps
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: none

Add parGoogleTagId
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

fix: private endpoint dns zone mapping (#69)
  7.datawarehouse/modules/azure-functions.bicep
Due: none

Remove Question set service from IaC
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  README.md
Due: .azuredevops/pipelines/application-deployment.yml

Parameterise sku's and move uat, pre-prod and prod subscription under management (#66)
  .azuredevops/pipelines/3.sub-placement.yaml
  .azuredevops/pipelines/6.cross-subscription.yaml
  3.sub-placement/main.bicep
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
  5.spoke-network/network-parameters/uat.parameters.bicepparam
  6.cross-subscription/main.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

remove param from UAT
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Remove questionset service (#71)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  README.md
Due: .azuredevops/pipelines/application-deployment.yml

Add RTS app configuration key values
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Remove Notify and Document API functions
  5.spoke-network/main.application.bicep
  README.md
Due: .azuredevops/pipelines/application-deployment.yml

Add RTS app configuration key values (#72)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Remove Notify and Document API functions (#73)
  5.spoke-network/main.application.bicep
  README.md
Due: .azuredevops/pipelines/application-deployment.yml

test app config deploy in private endpoint
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

test app config deploy in private endpoint
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

test app config deploy in private endpoint
  .azuredevops/pipelines/application-deployment.yml
Due: none

Auto update JWKS and AllowedHosts Values in app config
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/11-app-config-update/deploy.app-config-update.bicep
Due: .azuredevops/pipelines/application-deployment.yml

add PortalUrl parameter to the configuration
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Sync one login key-vault values to App config
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add PortalUrl parameter to the configuration
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix the value format in app config
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: none

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
