Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters

Update params
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

set params
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Attach FD to CMS Portal
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Detach security policy to apply for multiple routes
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/security-policy.bicep
Due: none

Fix error
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/security-policy.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Automate Dashboard Creation
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/04-container-apps-environment/deploy.aca-environment.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/portal-dashboard/deploy-dashboards.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Update flag for KV
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Add json dashboard files
  shared/bicep/portal-dashboard/deploy-dashboards.json
  shared/bicep/portal-dashboard/iras-portal-dashboard-template.json
  shared/bicep/portal-dashboard/iras-service-dashboard-template.json
Due: none

Fix dashboard instrumentation key error and json files
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  shared/bicep/portal-dashboard/deploy-dashboards.json
  shared/bicep/portal-dashboard/iras-portal-dashboard-template.json
  shared/bicep/portal-dashboard/iras-service-dashboard-template.json
Due: .azuredevops/pipelines/application-deployment.yml

add missing param
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/main.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

add missing param
  .azuredevops/pipelines/6.cross-subscription.yaml
Due: none

change app service to Linux - validateirasid
  7.datawarehouse/modules/azure-functions.bicep
Due: none

fix cli params
  .azuredevops/pipelines/2.monitoring-services.yml
  7.datawarehouse/modules/azure-functions.bicep
Due: none

change app service to Linux - harpdatasync
  7.datawarehouse/modules/azure-functions.bicep
Due: none

feat: Add App Configuration support for HARP function apps
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/app-configuration.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

Harp function app configuration (#84)
  .azuredevops/pipelines/2.monitoring-services.yml
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/app-configuration.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

Deploy Dashboards (#86)
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/04-container-apps-environment/deploy.aca-environment.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/portal-dashboard/deploy-dashboards.bicep
  shared/bicep/portal-dashboard/deploy-dashboards.json
  shared/bicep/portal-dashboard/iras-portal-dashboard-template.json
  shared/bicep/portal-dashboard/iras-service-dashboard-template.json
Due: .azuredevops/pipelines/application-deployment.yml

Add missing params
  .azuredevops/pipelines/6.cross-subscription.yaml
Due: none

Test umbraco path redirection fix
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/rule-set.bicep
  shared/bicep/naming/naming-rules.jsonc
  shared/bicep/naming/naming.module.bicep
Due: none

Fix naming
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: none

Test fix
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/route.bicep
Due: none

resource dashboard
  5.spoke-network/main.application.bicep
  7.datawarehouse/main.application.json
  shared/bicep/portal-dashboard/deploy-resource-dashboard.bicep
  shared/bicep/portal-dashboard/iras-resource-dashboard-dev.json
  shared/bicep/portal-dashboard/iras-resource-dashboard-template.json
Due: .azuredevops/pipelines/application-deployment.yml

Skip placeholders
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Deploy to preprod (#87)
  .azuredevops/pipelines/6.cross-subscription.yaml
  2.monitoring-alerts/parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  6.cross-subscription/main.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

resource dashboard
  shared/bicep/portal-dashboard/deploy-resource-dashboard.bicep
  shared/bicep/portal-dashboard/iras-resource-dashboard-template.json
Due: none

resource dashboard
  7.datawarehouse/main.application.json
Due: none

resource dashboard
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

resource dashboard
  5.spoke-network/main.application.bicep
  shared/bicep/portal-dashboard/deploy-resource-dashboard.bicep
  shared/bicep/portal-dashboard/iras-resource-dashboard-dev.json
  shared/bicep/portal-dashboard/iras-resource-dashboard-template.json
Due: .azuredevops/pipelines/application-deployment.yml

rsp-5289: create poc function app
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Deploy to production - update parameters for prod
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Update IP's
  5.spoke-network/network-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

disable deployment slot
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Update cross-subscription
  .azuredevops/pipelines/6.cross-subscription.yaml
  6.cross-subscription/main.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Update
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Update params
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Remove service bus connection string output to resolve exposed secrets error.by defender for cloud
  5.spoke-network/modules/03-supporting-services/modules/service-bus.module.bicep
  shared/bicep/service-bus.bicep
Due: none

document upload config
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Fix syntax error and format
  .azuredevops/pipelines/application-deployment.yml
Due: none

Add missing outputs
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml
