Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

Normalize app config key values in Bicep module
  5.spoke-network/modules/app-config-update/deploy.appconfig-keyvalues.bicep
Due: none

Add environment parameter files and update pipeline
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/README.md
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  README.md
Due: none

deploy validateirasid and harpdatasync functions to spokes (#116)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  6.cross-subscription/modules/dw-function-endpoints/app-subscription-endpoint.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml

Refactor cross subscription (#119)
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  6.cross-subscription/README.md
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/dw-function-endpoints/dw-function-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml

Add Key Vault update pipeline and parameterization
  .azuredevops/pipelines/keyvault-update.yml
  .azuredevops/scripts/build-kv-secret-values.py
  5.spoke-network/keyvault-parameters/README.md
  5.spoke-network/keyvault-parameters/dev.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.parameters.bicepparam
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.parameters.bicepparam
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/main.keyvault-update.bicep
  5.spoke-network/modules/keyvault-update/deploy.keyvault-secrets.bicep
  README.md
Due: none

Update .gitignore to allow specific JSON files
  .gitignore
Due: none

Prod one login (#118)
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Enhance WAF policy with additional rule group overrides
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
Due: none

add params for other envs
  2.monitoring-alerts/parameters/pre_prod.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_auto.parameters.bicepparam
  2.monitoring-alerts/parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

Merge branch 'main'
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: none

add app settings for managed identity
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: none

Set Front Door WAF mode to Detection in parameters
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

disable shared access key for func storage accounts
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: none

disable shared access key for func storage accounts
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

disable shared access key for func storage accounts
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: none

fix resource deployment order
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: none

RSP-6349: Enabled Managed Identities for Validation Function App - Removed FunctionKey - Added Scopes AppSettings for Function App
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/application-deployment.yml

fix resource deployment
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: none

fix function app deployment
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: none

create contentShare for logic apps
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add testValueOneLoginClientId to dev secrets for testing
  5.spoke-network/keyvault-parameters/dev.secrets.json
Due: none

Remove keyvault_variable_group parameter from pipeline
  .azuredevops/pipelines/keyvault-update.yml
Due: none

Add environment variables to Key Vault prep steps
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/README.md
Due: none

Fix parameter formatting in keyvault pipeline and update docs
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/README.md
Due: none

Set default value for parSecretValues parameter
  5.spoke-network/main.keyvault-update.bicep
Due: none

Remove testValueOneLoginClientId from pipeline and secrets
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
Due: none

Update Key Vault secret update instructions in README
  5.spoke-network/app-config-parameters/README.md
  5.spoke-network/keyvault-parameters/README.md
  README.md
Due: none

Remove redundant note in README
  README.md
Due: none

Parameterize environment name in deployment stage to add approvals based on env
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Refactor network deployment pipeline with stage template
  .azuredevops/pipelines/network-deployment.yml
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
Due: none

disable shared access keys on func-app storage accounts (#108)
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  7.datawarehouse/modules/azure-functions.bicep
  shared/bicep/app-services/function-app.bicep
Due: none

Decouple App configuration and Key Vault create/updates to seperate pipelines (#120)
  .azuredevops/pipelines/appconfig-update.yml
  .azuredevops/pipelines/keyvault-update.yml
  .azuredevops/scripts/build-kv-secret-values.py
  .gitignore
  5.spoke-network/app-config-parameters/README.md
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/keyvault-parameters/README.md
  5.spoke-network/keyvault-parameters/dev.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.parameters.bicepparam
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.parameters.bicepparam
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/main.appconfig-update.bicep
  5.spoke-network/main.keyvault-update.bicep
  5.spoke-network/modules/app-config-update/deploy.appconfig-keyvalues.bicep
  5.spoke-network/modules/keyvault-update/deploy.keyvault-secrets.bicep
  README.md
Due: none

rename alert rules
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

create new subnet for vnet data gateway
  7.datawarehouse/modules/dw-network.bicep
Due: none

create DB replicas and Storage redeundancy
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/main.network.bicep
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

create DB replicas and Storage redeundancy
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create devbox-secondary vnet peering and private endpoints
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/main.network.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/devbox-sql-replica-endpoints/devbox-sql-replica-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
