Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
  ...

.azuredevops/pipelines/dw-network-deployment.yml:
  name: datawarehouse-network-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Network
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

Add batchSize(1) to sequentially create secondary DBs
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Add dependsOn to sqlServerNetwork module
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Add dependsOn for Azure AD auth before geo-replication
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Add DR/failover config and remove systemtest_int env
  .azuredevops/pipelines/2.monitoring-services.yml
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/network-deployment.yml
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/network-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Conditionally set SQL admin login credentials
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Increase spoke network CIDRs and adjust subnets for Dev and Auto
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_auto.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

Remove Integration from network yml
  .azuredevops/pipelines/network-deployment.yml
Due: none

Update dev spoke network IP ranges to 10.10.0.0/16
  5.spoke-network/network-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

Update dev spoke network CIDR to 10.8.0.0/16
  5.spoke-network/network-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

TEMPORARY - Disable FinalWhatIf job in pipeline
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
Due: none

Revert "TEMPORARY - Disable FinalWhatIf job in pipeline"
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
Due: none

Enable Event Grid subscriptions for upload
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Revert "Enable Event Grid subscriptions for upload"
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Enable AppConfig private endpoints
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Add AppConfig project validation settings
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
Due: none

Added Modifications.RevisionAndAuthorisation feature flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Added Modifications.RevisionAndAuthorisation feature flag (#133)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Added new feature flags with targeting config
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Added new feature flags with targeting config (#135)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Remove app setting values from systemtest params
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
Due: none

Update IP address space for Dev and Automation subscription (#134)
  .azuredevops/pipelines/network-deployment.yml
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_auto.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Add notification function, govUkNotify key and enable Service Bus
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/service-bus.module.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Use abbreviated storage account name for function app
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add ManagedIdentityRtsClientID param
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
Due: none

Add ManagedIdentityRtsClientID AppConfig entry
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
Due: none

Update environment names; add app config value
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
Due: none

Add project validation function secret and config - REVERTED FROM PREVIOUS COMMIT
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

Disable DB failover in non-prod parameter files
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Revert "Add project validation function secret and config - REVERTED FROM PREVIOUS COMMIT"
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: none

Set ProjectRecordValidationScopes client ID
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
Due: none

Pass ProjectRecordValidation params via pipeline
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

Wire ManagedIdentityRtsClientID through pipeline
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

Add ManagedIdentityRtsClientID param (#137)
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

create DB replicas and Storage redundancy (#124)
  .azuredevops/pipelines/2.monitoring-services.yml
  .azuredevops/pipelines/6.cross-subscription.yaml
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/cross-subscription-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/main.network.bicep
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/network-parameters/uat.parameters.bicepparam
  6.cross-subscription/main.bicep
  6.cross-subscription/main.parameters.bicepparam
  6.cross-subscription/modules/devbox-sql-replica-endpoints/devbox-sql-replica-endpoints.bicep
Due: .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Remove example AppConfigurationValues block
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
Due: none

Always set SQL admin credentials in Bicep modules
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: none

Make SQL admin creds optional and clarify replica docs
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: none

Make SQL replica admin creds conditional
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Use Managed identities for storage accounts and remove function keys from app configuration
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
Due: .azuredevops/pipelines/application-deployment.yml

fix: remove queue and table customer-managed encryption from storage template
  shared/bicep/storage/storage-with-encryption.bicep
Due: none

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
