Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/appconfig-update.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/keyvault-update.yml, .azuredevops/pipelines/network-deployment.yml

.azuredevops/pipelines/1.core-services.yaml:
  name: 1.core-service-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Core Services
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Core Services Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/2.monitoring-services.yml:
  name: monitoring-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Monitoring Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/3.sub-placement.yaml:
  name: 3.sub-placement-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Sub Placement
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint Subscription-Placement Templates
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/6.cross-subscription.yaml:
  name: 6.cross-subscription-lza-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Cross Subscription
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azuredevops/pipelines/alz-bicep-5-lzvending.yml:
  name: ALZ-Bicep-5-lzVending
  jobs:
  - job: ALZ_Bicep_5_lzVending
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      displayName: Checkout Repo
  ...

.azuredevops/pipelines/appconfig-update.yml:
  name: appconfig-update
  stages:
  - stage: PRValidation
    displayName: PR Validation App Config Update
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: lint
      displayName: Lint App Configuration Templates
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/application-deployment.yml:
  name: application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation Application Deployment
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Get Devops Public IP
      pool:
        name: rsp-manageddevopspool
      steps:
  ...

.azuredevops/pipelines/dw-application-deployment.yml:
  name: datawarehouse-application-deployment
  stages:
  - stage: PRValidation
    displayName: PR Validation for Datawarehouse Applications
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
    - job: setup
      displayName: Checkout and Install Bicep
      pool:
        vmImage: ubuntu-latest
  ...

RSP-7623 Add Service Bus Connection String to Alz
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Missing backslash
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Updated config
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/appconfig-update.yml, .azuredevops/pipelines/application-deployment.yml

Update
  .azuredevops/pipelines/appconfig-update.yml
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/appconfig-update.yml, .azuredevops/pipelines/application-deployment.yml

Missing line
  5.spoke-network/main.appconfig-update.bicep
Due: .azuredevops/pipelines/appconfig-update.yml

Add to key vault
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
Due: .azuredevops/pipelines/keyvault-update.yml

Remove old stuff
  .azuredevops/pipelines/appconfig-update.yml
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: .azuredevops/pipelines/appconfig-update.yml, .azuredevops/pipelines/application-deployment.yml

RSP-7623 RSP-7638 Add Key Vault Secrets for Notify Key & Service Bus
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/keyvault-update.yml

Fix bicep comma
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Fixed typo
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: none

Moved settings to within app settings
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Update colon
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Remove emailNotificationServiceBus from Key Vault
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/keyvault-update.yml

RSP-7623 RSP-7638 Add Key Vault Secrets for Notify Key & Service Bus (#151)
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/keyvault-update.yml

enable system managed identity
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

enable system managed identity (#152)
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

resolve format issue
  .azuredevops/pipelines/appconfig-update.yml
Due: none

RSP-7829 Added Rec.MemberManagement Feature Flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

update comment
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

RSP-7829 Added Rec.MemberManagement Feature Flag (#153)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Bug Fixes: RSP-7993
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

New flag for the RFI flow for sponsor Authorisation
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

New flag for the RFI flow for sponsor Authorisation (#155)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Use backslash continuations for az parameters
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Move inline parameter comments to separate lines
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Remove MI comment lines in appconfig pipeline
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Syntax fix (#156)
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Add targeting conditions and new feature flags
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
Due: none

Set DefaultRolloutPercentage to 100
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
Due: none

Create seperate pipeline for feature flags deployment (#148)
  .azuredevops/pipelines/featureflags-update.yml
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
  5.spoke-network/main.featureflags-update.bicep
  5.spoke-network/modules/featureflags-update/deploy.featureflags.bicep
Due: none

add requestrevisions feature flag
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
Due: none

add requestrevisions feature flag (#157)
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
Due: none

Enforce TLS 1.2 for App Services
  shared/bicep/app-services/function-app.bicep
  shared/bicep/app-services/web-app.bicep
Due: none

Disable blob public access for storage accounts
  shared/bicep/storage/storage-with-encryption.bicep
  shared/bicep/storage/storage.bicep
Due: none

Add diagnostic settings for Logic App
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/logic-app.bicep
Due: none

Disable local auth for Event Grid topics
  5.spoke-network/modules/09-document-upload/modules/document-storage.bicep
  shared/bicep/event-grid/custom-event-grid-topic.bicep
Due: none

Enable DB-level security alert policies
  5.spoke-network/modules/05-database/deploy.database.bicep
Due: none

Disable FTPS for app service site configs
  shared/bicep/app-services/function-app.bicep
  shared/bicep/app-services/web-app.bicep
Due: none

Add EmailNotificationServiceBus secret integration
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
Due: .azuredevops/pipelines/keyvault-update.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters, 2.monitoring-alerts/modules
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/appconfig-update.yml: any of: 5.spoke-network/main.appconfig-update.bicep, 5.spoke-network/app-config-parameters, 5.spoke-network/modules/app-config-update
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/keyvault-update.yml: any of: 5.spoke-network/main.keyvault-update.bicep, 5.spoke-network/keyvault-parameters, 5.spoke-network/modules/keyvault-update, .azuredevops/scripts/build-kv-secret-values.py
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters
