Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters

remove unused variables and params
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: .azuredevops/pipelines/application-deployment.yml

remove unused variables and params (#106)
  .azuredevops/pipelines/application-deployment.yml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create monitoring alerts
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/action-groups.bicep
  2.monitoring-alerts/modules/alert-rules.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
  shared/bicep/monitoring/activity-log-alert.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

create alerts for all errors to teams
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

create logic app workflow
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/modules/app-action-groups.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
Due: none

fix params
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
Due: none

deploy alert rules to prod
  2.monitoring-alerts/parameters/prod.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

enable app insights error alerts
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: none

fix query rule creation
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/app-all-errors-alert.bicep
  2.monitoring-alerts/modules/app-scheduled-query-alerts.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
  shared/bicep/monitoring/scheduled-query-rule.bicep
Due: .azuredevops/pipelines/2.monitoring-services.yml

deploy alert rules to prod
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

add api connection params
  .azuredevops/pipelines/2.monitoring-services.yml
  2.monitoring-alerts/main.bicep
  2.monitoring-alerts/modules/logic-app-teams-alerts.bicep
  2.monitoring-alerts/parameters/dev.parameters.bicepparam
  2.monitoring-alerts/parameters/production.parameters.bicepparam
  2.monitoring-alerts/parameters/systemtest_manual.parameters.bicepparam
Due: .azuredevops/pipelines/2.monitoring-services.yml

remove unused variables and params (#107)
  5.spoke-network/app-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

disable shared access keys on func-app storage accounts
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: none

Initial commit
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  5.spoke-network/modules/03-supporting-services/modules/key-vault-secrets.bicep
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/azure-functions.bicep
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml

make web app private
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  shared/bicep/app-services/web-app.bicep
  shared/bicep/app-services/web-app.slots.bicep
Due: .azuredevops/pipelines/application-deployment.yml

make web app private (#110)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  shared/bicep/app-services/web-app.bicep
  shared/bicep/app-services/web-app.slots.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create logic app
  shared/bicep/app-services/logic-app.bicep
Due: none

redeploy logic app
  shared/bicep/app-services/logic-app.bicep
Due: none

create logic app
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/logic-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

fix: app kind
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create logic app
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/app-service-plan.bicep
  shared/bicep/app-services/function-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

fix private endpoint deployment conflict
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/logic-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Enable diagnostic setting and Log analytics. (#98)
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/front-door-profile.bicep
Due: .azuredevops/pipelines/application-deployment.yml

RSP-5624: peer spokes to datawarehouse vnet (#97)
  .azuredevops/pipelines/dw-network-deployment.yml
  7.datawarehouse/main.network.bicep
  7.datawarehouse/modules/dw-network.bicep
  7.datawarehouse/modules/vnetpeering.bicep
  7.datawarehouse/network-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/dw-network-deployment.yml

Update app config
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Update app registeration ID
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
  7.datawarehouse/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/dw-application-deployment.yml

fix syntax error
  .azuredevops/pipelines/dw-application-deployment.yml
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
Due: none

remove unused parameter
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

enable systemassigned identity
  shared/bicep/app-services/logic-app.bicep
Due: none

Syntax fix
  .azuredevops/pipelines/dw-application-deployment.yml
Due: none

Whitelsit IPs for CMS
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/shared.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/web-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

create logic app (#109)
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/app-service-plan.bicep
  shared/bicep/app-services/logic-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add app configuration
  .azuredevops/pipelines/dw-application-deployment.yml
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/app-configuration.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

Whitelsit IPs for CMS (#111)
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/shared.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
  shared/bicep/app-services/web-app.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add app configuration (#112)
  .azuredevops/pipelines/dw-application-deployment.yml
  7.datawarehouse/main.application.bicep
  7.datawarehouse/modules/app-configuration.bicep
Due: .azuredevops/pipelines/dw-application-deployment.yml

Add WAF rule override to allow document uploads in prod
  5.spoke-network/modules/10-front-door/deploy.front-door.bicep
  shared/bicep/front-door/waf-policy.bicep
Due: none
