Repository HealthResearchAuthority/rsp-alz: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/1.core-services.yaml, .azuredevops/pipelines/2.monitoring-services.yml, .azuredevops/pipelines/3.sub-placement.yaml, .azuredevops/pipelines/6.cross-subscription.yaml, .azuredevops/pipelines/alz-bicep-5-lzvending.yml, .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/dw-application-deployment.yml, .azuredevops/pipelines/dw-network-deployment.yml, .azuredevops/pipelines/keyvault-update.yml, .azuredevops/pipelines/network-deployment.yml

Path conditions:
  .azuredevops/pipelines/1.core-services.yaml: any of: 1.core-services
  .azuredevops/pipelines/2.monitoring-services.yml: any of: 2.monitoring-alerts/main.bicep, 2.monitoring-alerts/parameters
  .azuredevops/pipelines/3.sub-placement.yaml: any of: 3.sub-placement
  .azuredevops/pipelines/6.cross-subscription.yaml: any of: 6.cross-subscription
  .azuredevops/pipelines/alz-bicep-5-lzvending.yml: any of: config/custom-parameters/resourceGroup.parameters.all.json, config/custom-parameters/vnetPeeringVwan.parameters.all.json, config/custom-parameters/hubPeeredSpoke.vwan.parameters.all.json, config/custom-parameters/spokeNetworking.parameters.all.json
  .azuredevops/pipelines/application-deployment.yml: any of: 5.spoke-network/main.application.bicep, 5.spoke-network/app-parameters
  .azuredevops/pipelines/dw-application-deployment.yml: any of: 7.datawarehouse/main.application.bicep, 7.datawarehouse/app-parameters
  .azuredevops/pipelines/dw-network-deployment.yml: any of: 7.datawarehouse/main.network.bicep, 7.datawarehouse/network-parameters
  .azuredevops/pipelines/keyvault-update.yml: any of: 5.spoke-network/main.keyvault-update.bicep, 5.spoke-network/keyvault-parameters, 5.spoke-network/modules/keyvault-update, .azuredevops/scripts/build-kv-secret-values.py
  .azuredevops/pipelines/network-deployment.yml: any of: 5.spoke-network/main.network.bicep, 5.spoke-network/network-parameters

fix: remove hardcoded GRS storage SKU override for prod/preprod
  5.spoke-network/main.application.bicep
  shared/bicep/storage/storage-with-encryption.bicep
Due: .azuredevops/pipelines/application-deployment.yml

fix: update pre-prod staging storage SKU to match deployed state
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Release fixes (#141)
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

FeatureFlags: Added Missing Feature Flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

FeatureFlags: Added Missing Feature Flag (#142)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Enable SQL admin login for initial replica creation
  5.spoke-network/app-parameters/production.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Temporary fix for initial replica creation with AD-only primary
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add ManagedIdentityManageNotificationsClientID param
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

Fix line space
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Fixed bicep
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/app-parameters/dev.parameters.bicepparam
Due: .azuredevops/pipelines/application-deployment.yml

Add ManagedIdentityManageNotificationsClientID param (#143)
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add fnManageNotificationsApp module
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add Service Bus MI client IDs and appSettings
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/service-bus.module.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Use string interpolation for storageAccountName
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add ManagedIdentityNotifyClientID to App Configuration
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

Annotate managed identity parameters with comments
  .azuredevops/pipelines/appconfig-update.yml
Due: none

Added Modifications.ChangeOfSponsorOrganisation feature flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Add user notifications feature flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Deploy notification service infra (#136)
  .azuredevops/pipelines/appconfig-update.yml
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.secrets.json
  5.spoke-network/keyvault-parameters/pre_prod.secrets.json
  5.spoke-network/keyvault-parameters/production.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_auto.secrets.json
  5.spoke-network/keyvault-parameters/systemtest_manual.secrets.json
  5.spoke-network/keyvault-parameters/uat.secrets.json
  5.spoke-network/main.appconfig-update.bicep
  5.spoke-network/main.application.bicep
  5.spoke-network/modules/03-supporting-services/deploy.supporting-services.bicep
  5.spoke-network/modules/03-supporting-services/modules/service-bus.module.bicep
  5.spoke-network/modules/07-app-service/deploy.app-service.bicep
Due: .azuredevops/pipelines/application-deployment.yml, .azuredevops/pipelines/keyvault-update.yml

Added Modifications.ChangeOfSponsorOrganisation feature flag (#144)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Add user notifications feature flag (#145)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

Remove storage account key parameters from pipelines
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/keyvault-update.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
Due: none

Prepartion work for Q9 S2 -- adding ManagedIdentityNotifyClientID
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
Due: none

Use pipeline subscriptionId for shared services
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
Due: none

Add parSharedServicesSubscriptionId parameter
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
Due: none

Remove hard-coded shared services subscription IDs
  .azuredevops/pipelines/keyvault-update.yml
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/keyvault-parameters/dev.parameters.bicepparam
  5.spoke-network/keyvault-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/keyvault-parameters/production.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/keyvault-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/keyvault-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/keyvault-update.yml

Use parSubscriptionId for spoke deployments
  .azuredevops/pipelines/network-deployment.yml
  .azuredevops/pipelines/templates/network-deployment-stage.yaml
  5.spoke-network/main.network.bicep
  5.spoke-network/network-parameters/dev.parameters.bicepparam
  5.spoke-network/network-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/network-parameters/production.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/network-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/network-parameters/uat.parameters.bicepparam
Due: .azuredevops/pipelines/network-deployment.yml

Add parSubscriptionId and use for scopes
  .azuredevops/pipelines/application-deployment.yml
  .azuredevops/pipelines/templates/application-deployment-stage.yaml
  5.spoke-network/app-parameters/dev.parameters.bicepparam
  5.spoke-network/app-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-parameters/production.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-parameters/uat.parameters.bicepparam
  5.spoke-network/main.application.bicep
Due: .azuredevops/pipelines/application-deployment.yml

Add feature flags update pipeline and bicep
  .azuredevops/pipelines/featureflags-update.yml
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
  5.spoke-network/main.featureflags-update.bicep
  5.spoke-network/modules/featureflags-update/deploy.featureflags.bicep
Due: none

Enable Auth.UseOneLogin feature flag in params
  5.spoke-network/featureflags-parameters/dev.parameters.bicepparam
  5.spoke-network/featureflags-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/featureflags-parameters/production.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/featureflags-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/featureflags-parameters/uat.parameters.bicepparam
Due: none

RSP-7623 Added notifications feature flag
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

fix formatting issues
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
Due: none

Validate IRAS and HARP data sync function changes (#139)
  .azuredevops/pipelines/appconfig-update.yml
  5.spoke-network/app-config-parameters/dev.parameters.bicepparam
  5.spoke-network/app-config-parameters/pre_prod.parameters.bicepparam
  5.spoke-network/app-config-parameters/production.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_auto.parameters.bicepparam
  5.spoke-network/app-config-parameters/systemtest_manual.parameters.bicepparam
  5.spoke-network/app-config-parameters/uat.parameters.bicepparam
  5.spoke-network/main.appconfig-update.bicep
  5.spoke-network/modules/05-database/deploy.database-replica.bicep
Due: none

Update feature name
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none

RSP-7623 Added notifications feature flag (#149)
  5.spoke-network/modules/03-supporting-services/modules/app-configuration.bicep
Due: none
